.dasher2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.bbb2 {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
}
.leftColumn5 {
    background-color: #afd4c0;
    width: 22vw;
    height: 88vh;
}
.centerData5 {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    background-color: #e5f4ec;;
    width: 56vw;
    height: auto;
}
.rightColumn5 {
    background-color: #afd4c0;
    width: 22vw;
    height: auto;
}
.nameAndCanc2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 56vw;
    margin-left: 1vw;
}
.cancButt2 {
    background-color: #fec2c2;
    border: none;
    font-size: 12px;
    font-weight: bold;
    margin-right: 2vw;
    padding: 3px
}
.imgField {
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
    font-weight: bold;
    width: 40vw;
}
.imgInput {
    border: 1px solid #519872;
}
.preNextButt {
    display: flex;
    width: 56vw;
    height: 70vh;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
}
.pre {
    margin-left: 2vw;
    margin-bottom: 5vh;
    background-color: #3b5249;
    border: none;
    padding: 3px;
    color: #dedede;
    font-weight: bold;
}
.nex {
    margin-right: 2vw;
    margin-bottom: 5vh;
    background-color: #3b5249;
    border: none;
    padding: 3px;
    color: #dedede;
    font-weight: bold;
}
